.grid {
    display: grid;
    place-items: center;
    height: 100dvh;
}

.qr {
    border-radius: 1.25rem;
    background-color: var(--background-color-White);
    text-align: center;
    width: min(100%, 20rem);
    height: auto;
    padding: 1rem;

    &__image {
        width: min(100%, 18rem);
        height: auto;
        border-radius: 0.6rem;
    }

    &__title,
    &__description {
        padding-inline: 1rem;
    }

    &__title {
        color: var(--text-color-darkBlue);
        font-size: 1.375rem;
        font-weight: 700;
        margin-top: 1.5rem
    }

    &__description {
        color: var(--text-color-grayishBlue);
        font-size: .94rem;
        font-weight: 400;
        margin-top: 1rem;
        padding-bottom: 1.5rem;
    }
}


// .challenge {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     a:visited {
//         color: var(--text-color-darkBlue);
//     }
// }