.grid {
    display: grid;
    place-items: center;
    height: 100dvh;
}

.qr {
    border-radius: 1.25rem;
    background-color: var(--background-color-White);
    text-align: center;
    width: min(100%, 20rem);
    padding: 1rem;


    &__image {
        border-radius: 0.6rem;
        width: 100%;
        max-width: 18rem;
        height: auto;
    }

    &__title {
        color: var(--text-color-darkBlue);
        font-size: 1.375rem;
        font-weight: 700;
        padding-inline: 1rem;
    }

    &__description {
        color: var(--text-color-grayishBlue);
        font-size: .9375rem;
        font-weight: 400;
        padding-inline: 1rem;
    }
}


.challenge {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}