.grid {
    display: grid;
    place-items: center;
    height: 100dvh;
}

.qr {
    border-radius: 1.25rem;
    background-color: var(--background-color-White);
    text-align: center;
    width: min(100%, 20rem);
    height: 31.0625rem;
    padding: 1rem;


    &__image {
        display: block;
        width: 100%;
        max-width: 18rem;
        height: auto;
        border-radius: 0.6rem;
    }

    &__title,
    &__description {
        padding-inline: 1rem;
    }

    &__title {
        color: var(--text-color-darkBlue);
        font-size: 1.375rem;
        font-weight: 700;
        margin: 0;
        padding-top: 1.5rem;
    }

    &__description {
        color: var(--text-color-grayishBlue);
        font-size: .9375rem;
        font-weight: 400;
        margin: 1rem 0 0 0;
        padding-bottom: 0;
    }
}


// .challenge {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: center;

//     a:visited {
//         color: var(--text-color-darkBlue);
//     }
// }